.about-section{
    padding:1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.about-title{
    font-size: 1.8rem;
    font-weight: 700;
}
.about-description{
    max-width: 60ch;
}
.about-img-placeholder{
    background-color: gray;
    padding: 0 3rem ;
    border-radius: .5rem;
}