.footer{
    background-color: var(--clr-black);
}
.social-media-links {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.social-media-links li {
    list-style: none;
    font-size: 1.2rem;
}
.social-media-links li a{
    color: var(--clr-white);
    color: rgb(75, 108, 255);
    text-decoration: none;
    letter-spacing: .1rem;
    transition:all .5s ease-in-out;

}
.social-media-links li a:hover{
    color: rgb(58, 82, 190);
    letter-spacing: .3rem;
}