.footer{
    background-color: var(--clr-black);
}
.social-media-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.social-media-links li {
    list-style: none;
    font-size: 1.2rem;
}
.social-media-links li a{
    color: var(--clr-white);
    text-decoration: none;
    letter-spacing: .1rem;
}
.social-media-links li a:hover{
    color: rgb(112, 219, 252);
}