nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-weight: 700;
    padding: .8rem;
    justify-content: space-between;
}
nav ul{
    padding: 0;
    display: flex;
    gap: 1rem;
}
nav ul li{
    list-style: none;
}