nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 1rem;
    color: var(--clr-black);
    background-color: var(--clr-white);
    font-weight: 700;
    padding: .8rem;
    text-align: center;
}

nav span a{
    font-size: 1.5rem;
    font-weight: 700;
}
nav ul{
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
@media (max-width:600px){
    header {
        display: none;
    }
}
